<table>
  <tr>
    <th>Arrival</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% unless @days.empty? %>
  <% @days.each do |day| %>
    <tr>
      <td><%=h day.arrival.to_s.split(" ")[0] %></td>
      <td><%= link_to 'Show', "/timesheets/#{params[:timesheet_id]}/days/#{day.id}", :id => "show_#{day.arrival.to_s.split(" ")[0]}" %></td>
    </tr>
  <% end %>
<% else %>
  <p>No days available.</p>
<% end %>
</table>

<%= link_to "New day", new_timesheet_day_path %>
